<% layout('layouts/boilerplate') %>
<h1>All CampGrounds</h1>
<a href="/campgrounds/new"><button>Add Campground</button></a>
<ul>

    <% for (let campground of campgrounds){ %>
    <li> <a href='/campgrounds/<%= campground._id%>'><%= campground.title%> </a></li>
    <% } %>
</ul>